# Define a build target.
#
# A build target configures a firmware build with specific options (i.e. debug
# port or platform UUID) for a piece of hardware (the board). You can create
# several different build targets for the same board, e.g. when different
# behaviour is expected in some circumstances.

# This is the SMENETE SM4

# Determine platform name (must be set before including any other files)
PLATFORM := $(notdir $(basename $(lastword $(MAKEFILE_LIST))))

# Determine the path to platform files
TARGET_DIR := $(patsubst %/,%,$(dir $(abspath $(lastword $(MAKEFILE_LIST)))))
PLATFORM_DIR := $(TARGET_DIR)/../../platforms/$(PLATFORM)

# Pull in the board definition
$(call includeBoard,smnt-mb)

# Include platform headers
INCLUDES += -I$(PLATFORM_DIR)
SOURCES  += $(PLATFORM_DIR)/platform.c

# Pull in the JTAG adapter
$(call includeJtag,ft2232d)

# Specify platforms supported by this build target
UUID_PLATFORM := f69cba77-d857-429c-ac52-374e2ef4a10b
